name: Generate apt repository for kernel deb
run-name: Generate apt repository for kernel deb
on:
  push:
    branches:
      - 'main'
      - 'dev'
  workflow_dispatch:

jobs:
  Build:
    name: Prepare Release apt repository and debian based os image
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v3
      - name: Setup package
        run: |
          sudo apt update
          sudo apt install -y reprepro gnupg2 gpg-agent pinentry-curses

          # Clean up apt
          sudo apt autoremove -y
          sudo apt clean -y
          sudo apt autoclean -y

      - name: Setup github config
        run: |
          git config --global user.name "ations-user"
          git config --global user.email "action@github.com"

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Check GPG
        run: |
          echo "test" | gpg --sign --output /dev/null
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Generate APT repo
        run: |
          CODENAME=$(cat conf/distributions | grep Codename | awk '{print $2}')
          COMPONENT=$(cat conf/distributions | grep Components | awk '{print $2}')
          mkdir -p repo/conf
          cp conf/* -t repo/conf/
          #wget -q https://github.com/rcar-community/meta-sparrow-hawk/releases/download/dev-latest/kernel_deb_package.zip
          ./download_deb_package_from_release.sh
          unzip -qo kernel_deb_package.zip
          rm -rf kernel_deb_package/systemd-* # HACK
          reprepro -b repo --component ${COMPONENT} includedeb ${CODENAME} kernel_deb_package/*.deb
          echo "$GPG_PUBLIC_KEY" > repo/kernel-repo.asc
          zip -r repo.zip repo
        env:
          GPG_TTY: $(tty)
          GPG_PUBLIC_KEY: ${{ secrets.GPG_PUBLIC_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Commit and Push branch
        run: |
          BRANCH=apt-repo
          cd repo
          git init
          git remote add origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git checkout -b $BRANCH
          git add .
          git commit -m "Update APT repo"
          git push --force origin $BRANCH
          cd $GITHUB_WORKSPACE

      - name: Build debian image
        run: |
          ./build_image/build_with_docker_sparrow-hawk.sh 12
          ./build_image/build_with_docker_sparrow-hawk.sh 13

      - name: Generate release message
        run: |
          OUTPUT="${{ github.workspace }}-release_msg.txt"
          if [[ "$BRANCH" == "dev" ]]; then
            echo '## Note: This is the latest development build.' > ${OUTPUT}
          else
            rm -rf ${OUTPUT}
          fi
          cat << 'EOS' >> ${OUTPUT}
          ## Description

          This release is generated by using rcar-community/meta-sparrow-hawk deliverables.

          ## Usage

          ### How to login

          The default user is "rcar" and password is same as username.

          ### How to use PCIe/USB.
          Please copy correct firmware into /usr/lib/firmware/, then reboot.

          **Note:**
          There is no support/help to get the firmware.
          Please do it at your own risk.

          ### Source/License

          kernel: Please check "kernel_deb_package.zip"
          others: Please check deb-src by using apt. Debian default packages are used in this image.

          EOS

      - name: Prepare release tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          BRANCH="${{ github.ref_name }}"
          if [[ "$BRANCH" == "main" ]]; then
            # ex.) vYYYY-MM-DD
            echo "TAG_NAME=v$(date +'%Y-%m-%d')" >> $GITHUB_ENV
          elif [[ "$BRANCH" == "dev" ]]; then
            echo "TAG_NAME=dev-latest" >> $GITHUB_ENV
          fi

      - name: Setup release configuration
        id: prerelease
        shell: bash
        run: |
          if [[ "${GITHUB_REF_NAME}" == "dev" ]]; then
            echo "PRERELEASE=true" >> $GITHUB_ENV
            echo "RELEASE_TITLE=Development Latest" >> $GITHUB_ENV
          else
            echo "PRERELEASE=false" >> $GITHUB_ENV
            echo "RELEASE_TITLE=Release ${{ env.TAG_NAME }}" >> $GITHUB_ENV
          fi

      - name: Delete release tag if it exists
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          # Release
          if gh release view "${{ env.TAG_NAME }}" --repo ${{ github.repository }} >/dev/null 2>&1; then
            echo "Deleting old release: ${{ env.TAG_NAME }}"
            gh release delete "${{ env.TAG_NAME }}" --repo ${{ github.repository }} --yes
          fi
          # Tag
          if git ls-remote --tags origin | grep "refs/tags/${{ env.TAG_NAME }}"; then
            echo "Deleting old tag: ${{ env.TAG_NAME }}"
            git push origin :refs/tags/${{ env.TAG_NAME }}
          fi

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TAG_NAME }}
          target_commitish: ${{ github.ref_name }}
          name: ${{ env.RELEASE_TITLE }}
          draft: false
          prerelease: ${{ env.PRERELEASE }}
          files: |
            ./kernel_deb_package.zip
            ./build_image/*.img.gz
            ./repo.zip
          body_path: ${{ github.workspace }}-release_msg.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

